#about {
  p {
    line-height: 1.6em;
    margin-bottom: 3em;
  }
  .card-wrapper {
    padding: 15px;
  }
  
  .page-header {
    margin-bottom: 3em;
  }
  
  #cards {
    margin-bottom: 3em;
  }
  
  #chat {
    .call-to-action {
      font-size: 1.5em;
    }
  }
  
}