#about {
  padding-bottom: 1em;
  
  .card-wrapper {
    padding: 15px;
  }
  
  .page-header {
    margin-bottom: 3em;
  }
  
  #cards {
    margin-bottom: 3em;
  }
  
  #chat {
    .call-to-action {
      font-size: 1.5em;
    }
  }
  
}