#blog {
  .post {
    margin-bottom: 6em;
  }
}

.post-info {
  margin-bottom: 2em !important;
}

.post-content {
  margin-top: .5em;
  margin-left: 1.4em;

  @media screen and (max-width:640px) {
    margin-left: 0;
  }

  a {
    color: $yellow;
  }

  li {
    line-height: 1.4em;
    margin-left: 2em;
  }

  ol {
    margin-bottom: 1.4em;
  }

  img {
    border: solid 1px $yellow;
  }

  code {
    background-color: $blue;
    padding: 0.3em .5em;
  }

  pre, blockquote {
    margin-left: 2em;

    code {
      background-color: inherit;
      padding: 0;
    }
  }
}