#blog {
  .post {
    margin-bottom: 6em;
  }
}

.post-info {
  margin-bottom: 2em !important;
}

.post-content {
  margin-top: .5rem;
  margin-left: 1.4rem;
  padding-bottom: 1em;
  font-size: 1.1em;

  p {
    line-height: 1.6;
    margin-bottom: 1.6em;
  }

  @media screen and (max-width:640px) {
    margin-left: 0;
  }

  a {
    color: $blue;
  }

  li {
    line-height: 1.6;
    margin-left: 2rem;
    margin-bottom: 2rem;
  }

  ol {
    margin-bottom: 1.4rem;
  }
  
  ul {
    list-style: square;
  }

  img {
    border: solid 1px $yellow;
  }

  code {
    background-color: $blue;
    padding: 0.1rem;
  }

  pre, blockquote {
    margin-left: 2rem;

    code {
      background-color: inherit;
      padding: 0;
    }
  }
}
