#contact {
  #address {
    h2 {
      margin-bottom: 1em;
    }
  }

  #map {
    padding: 1px;

    @media screen and (max-width:640px) {
      margin: 0;
    }
  }

  // hack alert!
  #mapbox {
    height: 540px;
  }

  @media screen and (max-width: 960px) {
    #mapbox {
      height: 350px;
    }
  }

  @media screen and (max-width: 400px) {
    #mapbox {
      height: 240px;
    }
  }

  #jobs {
    margin-top: 4em;
  }

  #form {
    padding: 1.4em;
  }
}

