#contact {
  #address {
    h2 {
      margin-bottom: 1em;
    }
  }

  #map {
    padding: 1px;

    @media screen and (max-width:640px) {
      margin: 0;
    }
  }
  
  // hack alert!
  #mapbox {
    height: 540px;
  }

  @media screen and (max-width: 800px) and (min-width: 641px) {
    #mapbox {
      height: 350px;
    }
  }

  @media screen and (max-width: 400px) {
    #mapbox {
      height: 350px;
    }
  }

  #jobs {
    margin-top: 4em;
  }

  #form {
    padding: 1.4em;
    overflow: scroll;

    h4, div.field {
      margin-bottom: 1em;
    }

    div.text {
      border-bottom: 1px solid white;

      input {
        border: none;
        outline: none;
        background: transparent;
        color: $blue;
      } 
    }

    div.select {
      border-bottom: 1px solid white;

      a {
        color: white;

        &:hover, &:focus {
          color: $blue;
          text-decoration: underline;
        }
      }

      #selected-option {
        color: $blue;
      }

      #expand-arrow {
        float: right;
      }

      ul {
        border: solid 1px $blue;
        padding: 1em .75em;
      }
    }

    div.textarea {
      textarea {
        color: $blue;
        border: none;
        outline: none;
        display: block;
        font-size: 1em;
        line-height: 2em;
        padding-top: 4px;
        resize: none;
        height: 300px;
        width: 100%;

        background-color: transparent;
        background-image: -webkit-linear-gradient(top, transparent, transparent 1.92em, white 0);
        background-image:    -moz-linear-gradient(top, transparent, transparent 1.92em, white 0);
        background-image:         linear-gradient(top, transparent, transparent 1.92em, white 0);

        -webkit-background-size: 100% 2em;
        background-size: 100% 2em;
      }
    }

    div.submit {
      float: right;

      input {
        color: $green;
        background-color: transparent;
        border: 1px solid $green;
        width: 4em;
        height: 4em;
        outline: none;

        &:hover, &:focus {
          color: $dark-gray;
          background-color: $green;
        }

        &:active {
          color: $green;
          background-color: transparent;
        }
      }
    }

    #form-success {
      h2 {
        margin-bottom: 1em;
      }
    }
  }
}