#index {
  #tweet {
    margin-top: 2em;

    #tweet-content {
      @include word-wrap();
    }
  }

  #eventstream {
    top: -5em;
  }

  #address {
    margin-top: 3em;
  }

  #votecompass {
    top: -7em;
  }

  #social-icons {
    margin-top: 2em;
  }
}

@media screen and (max-width:1024px) {
  #index {
    #tweet {
      margin-top: 1em;
    }

    #address {
      margin: 0;
    }
  }
}