#index {
  height: 100%;
  overflow: hidden;
  
  #page-header {
    font-size: 3em;
  }
  
  #offering-cards {
    margin-bottom: 2em;
  }
  
  .client-logos-container {
    margin-bottom: 2em;
  }
  
  .client-logo-container {
    padding: 2em;
  }
  
  .columns {
    padding: 10px;
  }
  .card {
    width: 100%;
    margin: 0;
    
    &-icon {
      height: auto;
      width: 40%;
    }
  }
}

@media screen and (max-width:1024px) {
  #index {
    #tweet {
      margin-top: 1em;
    }

    #address {
      margin: 0;
    }
  }
}