#manifesto {
  .free.text {
    margin-top: 2em;
  }

  p {
    margin-bottom: 2em;
  }

  .icon-container {
    &.magnifying-glass {
      margin-top: 5em;
    }

    &.spaceship {
      margin-top: 9em;
    }

    &.faces {
      margin-top: 15em;
    }

    &.beaker {
      margin-top: 3em;
    }
  }
}