#services {
  
  a:hover {
    .inline-icon {
      i {
        color: $dark-gray;
      }          
      &:after {
        max-height: 100%;
      }
    }
  }
  
  &-header {
    margin-top: 1em;
  }
  
  #services-links {    
    .text-content {
      padding: 1em;
      
      @media #{$medium-only} {
        padding: 0.7em;
        h3 {
          font-size: 1.1em;
        }
      }
    }
  }
  
  ul {
    list-style: square inside;
    line-height: 1.4;
  }
  
  .services-description {
    margin-bottom: 1.77em;
  }
  
  .side-icons {
    @media #{$medium-up} {
      margin-top: 15%;
    }
    
    @media #{$large-up} {
      margin-top: 10%;
    }
    
    &-group-two {
      @media #{$small-up} {
        margin-top: 3em;
      }
      
      @media #{$medium-up} {
        margin-top: 9em;
      }
      
      @media #{$large-up} {
        margin-top: 6em;
      }
    }
    
    .icon-container {
      &.magnifying-glass {
        margin-top: 5em;
      }
      
      &.spaceship {
        margin-top: 9em;
      }
      
      &.faces {
        margin-top: 9em;
      }
      
      &.globe {
      }
    }
  }
}
