#services {
  ul {
    list-style: square inside;
    line-height: 1.4;
  }
  
  #service-cards {
    @extend .cards;
    
    .card {
      padding: 15%;
      text-align: center;
      
      &[data-color="yellow"] {
        color: $yellow;
      }
      
      &[data-color="blue"] {
        color: $blue;
      }
    }
    
    .card-title {
      margin-bottom: 0.5em;
      // font-size: 2.5em;
    }
    
    .card-icon {
      height: 45%;
      margin: 0 auto 2em;
      max-width: 80%;
    }
  }

  #fi-labs {
    .call-to-action {
      font-size: 1.3em;
    }
  }

  #scaling {
    .scene-title-square {
      @extend .medium-offset-1;
    }
    
    .scene-graphic-square {
      @extend .small-offset-4;
      margin-top: -2em;
    }
  }

  #building {
    @media #{$medium-up} {
      .scene-content {
        flex-direction: row-reverse;
      }
    }
    
    .scene-title-square {
      @extend .small-offset-4;
      @extend .medium-offset-5;
    }
    
    .scene-graphic-square {
      @extend .medium-offset-1;
      
      margin-top: -3em;
    }
  }

  #data {
    .scene-title-square {
      @extend.small-offset-4;
    }
    
    .scene-graphic-square {
      @extend .medium-offset-1;
      margin-top: -3em;
    }    
  }
  
  #cta-scene {
    // padding: 5em 0;
    // 
    .call-to-action {
      margin-bottom: 0;
    }
  }
}
