/*
 * Styles for the social media share buttons on each blog post
 * Sticky on top
 */

.post-social-share {
  position: fixed;
  bottom: 0.5rem;
  z-index: 100;
  width: 20rem;
  height: 2.2rem;

  margin-left: 1.4rem;
  padding: 0 1rem;
  border: 1px solid #808080;
  border-radius: 5px;
  background-color: #edeff0;

  @media screen and (max-width: 640px) {
    margin-left: 0;
  }

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  .fi-share-button {
    height: 1.5rem;
    padding-right: 1rem;
  }
}
