#join {
  li {
    margin-bottom: 20px;
  }
}

.join {
  .primary-duties {
    margin-left: 35px;
  }

  ul {
    margin-left: 35px;
    list-style-type: disc;

    li {
      margin-bottom: 15px;
    }
  }
}