#method {
  
  #targeted {
    padding-top: 1em;
    
    .scene-title-square {
      @extend .medium-offset-1;
    }
    
    .scene-graphic-square {
      @extend .small-offset-4;
      margin-top: -2em;
    }
  }
  
  #strategic {
    @media #{$medium-up} {
      .scene-content {
        flex-direction: row-reverse;
      }
    }
    
    .scene-graphic-square {
      @extend .small-offset-4;
      @extend .medium-offset-5;
    }
    
    .scene-title-square {
      @extend .medium-offset-1;
      
      margin-top: -3em;
      h1 {
        position: absolute;
        bottom: 0;
      }
    }
  }
  
  #open {
    .scene-title-square {
      @extend.small-offset-4;
    }
    
    .scene-graphic-square {
      @extend .medium-offset-1;
      margin-top: -3em;
    }    
  }
  
  #evolution {
    .scene-content {
      display: initial;
    }
  }
}