#method {
  .scene-squares {
    float: left;
    left: 0;
    top: 0;
    height: 100%;
    width: 50%;
  }
  
  .scene-text {
    height: 100%;
    width: 100%;
  }
  
  .scene-title-square {
    position: relative;
    display: inline-block;
    mix-blend-mode: multiply;
  }
  
  .scene-graphic-square {
    position: relative;
    display: inline-block;
    mix-blend-mode: multiply;
  }
  
  
  .scene {
    position: relative;
    height: 48em;
    
    &-1 {
      .scene-text {
        padding: 13em 0 0 24em;
      }
      
      .scene-title-square {
        top: 6em;
        width: 55%;
      }
      
      .scene-graphic-square {
        left: 3em;
        top: 3em;
        width: 65%;
      }
    }
    
    &-2 {
      .scene-text {
        font-size: 110%;
        padding: 13em 24em 0 0;
      }
      
      .scene-squares {
        float: right;
      }
      
      .scene-title-square {        
        width: 55%;
        left: 3em;
        top: 4em;
        
        h2 {
          position: absolute;
          bottom: 0;
          display: inline-block;
        }
      }
      
      .scene-graphic-square {
        left: 10em;
        top: 7em;
        width: 65%;
      }
    }
  }
  
}