#method {
  $bottom-clearance: -3em;
  
  .scene-squares {
    @extend .columns;
    @extend .large-5;
    @extend .medium-5;
    
    @media #{$small-only} {
      margin-bottom: 2em;
    }
  }
  
  .scene-text {
    @extend .columns;
    @extend .large-7;
    @extend .medium-7;
    @extend .small-12;
  }
  
  .scene-title-square, .scene-graphic-square {
    @extend .columns;
    @extend .small-8;
    @extend .medium-7;
    mix-blend-mode: multiply;
  }
  
  .scene-title-square {
    
    @media #{$small-up} {
      h1 {
        font-size: 1.6em;
      }
    }
    
    @media #{$medium-only} {
      h1 {
        font-size: 1.5em;
      }
    }
  }
  
  .scene-content {
    @extend .row;
    @extend .collapse;
    
    @media #{$medium-up} {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  
  
  .scene {
    @extend .main-content;
    padding: 4em 0;
    position: relative;
    
    @media #{$medium-up} {
      padding: 6em 0;
    }
    
    @media #{$medium-up} {
      padding: 9em 0;
    }
  }
  
  #targeted {
    padding-top: 1em;
    
    .scene-title-square {
      @extend .medium-offset-1;
    }
    
    .scene-graphic-square {
      @extend .small-offset-4;
      margin-top: -2em;
    }
  }
  
  #strategic {
    @media #{$medium-up} {
      .scene-content {
        flex-direction: row-reverse;
      }
    }
    
    .scene-graphic-square {
      @extend .small-offset-4;
      @extend .medium-offset-5;
    }
    
    .scene-title-square {
      @extend .medium-offset-1;
      
      margin-top: -3em;
      h1 {
        position: absolute;
        bottom: 0;
      }
    }
  }
  
  #open {
    .scene-title-square {
      @extend.small-offset-4;
    }
    
    .scene-graphic-square {
      @extend .medium-offset-1;
      margin-top: -3em;
    }    
  }
  
  #evolution {
    .scene-content {
      display: initial;
    }
  }
}