<title>{{ page.title }}</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<meta name="description" content="{{ page.description }}">

<!-- favicons -->
<!--[if IE]><link rel="shortcut icon" href="{% asset_path favicon.ico %}"><![endif]-->
<link rel="icon" type="image/png" href="{% asset_path favicon.png %}">
<link rel="canonical" href="{{ site.url }}{{ page.url }}" />

{% stylesheet app %}

{{ 'lib/modernizr' | javascript }}
