<div id="lighthouse">
  <div id="wrapper">
    <div class="scene">
      <div class="cylinder">
        <div class="face bm">
          <div class="photon-shader"></div>
        </div>
        <div class="face tp">
          <div class="photon-shader"></div>
        </div>
        <div class="face side s0">
          <div class="photon-shader"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader"></div>
        </div>
        <div class="face side s3">
          <div class="photon-shader"></div>
        </div>
        <div class="face side s4">
          <div class="photon-shader"></div>
        </div>
        <div class="face side s5">
          <div class="photon-shader"></div>
        </div>
        <div class="face side s6">
          <div class="photon-shader"></div>
        </div>
        <div class="face side s7">
          <div class="photon-shader"></div>
        </div>
      </div>
    </div>
  </div>
  <img class="lighthouse image" src="{% asset_path lighthouse_only.png %}" alt="Lighthouse Labs">
</div>