<div class="row home">
  <div class="large-6 columns tester-yellow">
    <p>
      Intelligentsia fugiat Blue Bottle, Schlitz craft beer ennui stumptown disrupt flannel narwhal Portland. Next level esse High Life flannel commodo kitsch pop-up. Do 8-bit McSweeney's, slow-carb Schlitz incididunt High Life Cosby sweater beard. Mixtape selfies ex keffiyeh minim anim et, 8-bit quis food truck laboris YOLO pork belly. Nesciunt aliquip adipisicing, paleo biodiesel 3 wolf moon ethical bitters mumblecore XOXO consequat wolf Portland. Schlitz flexitarian voluptate sustainable aute disrupt. Food truck aliquip deserunt nisi, consectetur laboris sustainable
    </p>
    <p>
      <a href="#">@bigfartz</a>
    </p>
  </div>
  <div class="large-6 columns tester-blue">
    <p>
      Intelligentsia fugiat Blue Bottle, Schlitz craft beer ennui stumptown disrupt flannel narwhal Portland. Next level esse High Life flannel commodo kitsch pop-up. Do 8-bit McSweeney's, slow-carb Schlitz incididunt High Life Cosby sweater beard. Mixtape selfies ex keffiyeh minim anim et, 8-bit quis food truck laboris YOLO pork belly. Nesciunt aliquip adipisicing, paleo biodiesel 3 wolf moon ethical bitters mumblecore XOXO consequat wolf Portland. Schlitz flexitarian voluptate sustainable aute disrupt. Food truck aliquip deserunt nisi, consectetur laboris sustainable
    </p>
    <p>
      <a href="#">@bigfartz</a>
    </p>
  </div>
</div>