<footer class="footer">
    <div class="footer-content">
      <div class="footer-logo-wrapper">
        <img src="{% asset_path logo.png %}" alt="Functional Imperative" id="footer-logo"/>
      </div>
      <div class="footer-list-wrapper">
        <h3>Social</h3>
        <ul class="footer-list">
          <li><a href="http://twitter.com/func_i">Twitter</a></li>
          <li><a href="http://www.linkedin.com/company/functional-imperative">LinkedIn</a></li>
          <li><a href="https://github.com/func-i">Github</a></li>
          <li><a href="https://www.facebook.com/SoftwareConsultancy/">Facebook</a></li>
        </ul>
      </div>
      <div class="footer-list-wrapper">
        <h3>Sitemap</h3>
        <ul class="footer-list">
          <li><a href="/about-custom-software-solutions-development.html">About</a></li>
          <li><a href="/custom-software-solutions-services.html">Services</a></li>
          <li><a href="/custom-software-development-company-blog/">Blog</a></li>
        </ul>
      </div>
      <div class="footer-list-wrapper">
        <h3>Contact</h3>
        <div class="footer-list contact">
          <a href="tel:647-405-8994">647-405-8994</a><br>
          <a href="mailto:info@functionalimperative.com">info@functionalimperative.com</a>
          <p>
            <br/>
            46 Spadina Ave.<br/>
            Fl. 4<br/>
            Toronto, ON M5V 2H8<br/>
            Canada
          </p>
        </div>
      </div>
    </div>
</footer>