<nav>
  <div class="nav-logo-container">
    <a class="nav-logo-letter-first menu-toggle-button"></a>
    <a class="nav-logo-letter-second"></a>
  </div>
  <ul class="nav-menu">
    <li>
      <a href="/services.html"
      {% if page.url == '/services.html' %}
      class="selected"
      {% endif %}>Services
      </a>
    </li>
    
    <li>
      <a href="/work.html" class="has-menu
      {% if page.url == '/work.html' %}
      selected
      {% endif %}">Work
      </a>
    
      <div class="sub-menu">
        <ul>
          <li>
            <a href="/work/eventstream.html"
            {% if page.url == '/work/eventstream.html' %}
            class="selected"
            {% endif %}>Eventstream
            </a>
          </li>
          <li>
            <a href="/work/canlii.html"
            {% if page.url == '/work/canlii.html' %}
            class="selected"
            {% endif %}>CanLII
            </a>
          </li>
          <li>
            <a href="/work/myoscar.html"
            {% if page.url == '/work/myoscar.html' %}
            class="selected"
            {% endif %}>MyOSCAR
            </a>
          </li>
          <li>
            <a href="/work/votecompass.html"
            {% if page.url == '/work/votecompass.html' %}
            class="selected"
            {% endif %}>Vote Compass
            </a>
          </li>
          <li>
            <a href="/work/client_list.html"
            {% if page.url == '/work/client_list.html' %}
            class="selected"
            {% endif %}>Partial Client List
            </a>
          </li>
        </ul>
      </div>
    </li>

    <li>
      <a href="/about.html" class="has-menu
      {% if page.url == '/about.html' %}
      selected
      {% endif %}">About
      </a>

      <div class="sub-menu">
        <ul>
          <li>
            <a href="/about.html"
            {% if page.url == '/about.html' %}
            class="selected"
            {% endif %}>Team
            </a>
          </li>
          <li>
            <a href="/about/partners.html"
            {% if page.url == '/about/partners.html' %}
            class="selected"
            {% endif %}>Partners
            </a>
          </li>
          <li>
            <a href="/about/join.html"
            {% if page.url == '/about/join.html' %}
            class="selected"
            {% endif %}>Join
            </a>
          </li>
        </ul>
      </div>
    </li>

    <li>
      <a href="/contact.html"
      {% if page.url == '/contact.html' %}
      class="selected"
      {% endif %}>Contact
      </a>
    </li>

    <li>
      <a href="/blog/"
      {% if page.url == '/blog/index.html' %}
      class="selected"
      {% endif %}>Blog
      </a>
    </li>
  </ul>
</nav>

<header>
  <canvas id="logo-canvas"></canvas>
  <div id="bg-line"></div>
  <div id="logo"
    data-img-sprite="{% asset_path logo_sprite.png %}"
    data-img-full="{% asset_path logo.png %}"
    data-img-small="{% asset_path logo_small.png %}"></div>
  <h1 style="position: absolute; left: -9999px;">Functional Imperative</h1>
</header>
