<header>
  <nav>
    <div class="nav-hover-container"></div>
    <div class="nav-logo-container">
      <a class="nav-logo-letter-first menu-toggle-button" href="/"></a>
      <a class="nav-logo-letter-second" href="/"></a>
    </div>
    <ul class="nav-menu">
      <li>
        <a href="" 
          data-sub-name="about"
          class="has-menu 
          {% if page.url == '/about.html' %}
          selected
          {% endif %}">
          <span class="nav-menu-item-text">About</span><i class="fa fa-chevron-right"></i>
        </a>
        
        <ul class="sub-menu">
          <li>
            <a href="/about.html"
            {% if page.url == '/about.html' %}
            class="selected"
            {% endif %}>Our Team
            </a>
          </li>
          <li>
            <a href="/about/join.html"
            {% if page.url == '/about/join.html' %}
            class="selected"
            {% endif %}>FI Method
          </a>
        </li>
          <li>
            <a href="/about/our_work.html"
            {% if page.url == '/about/our_work.html' %}
            class="selected"
            {% endif %}>Our Work
            </a>
          </li>
        </ul>
      </li>

      <li>
        <a href="/services.html"
        {% if page.url == '/services.html' %}
        class="selected"
        {% endif %}>Services
        </a>
      </li>
      
      <li>
        <a href="/blog/"
        {% if page.url == '/blog/index.html' %}
        class="selected"
        {% endif %}>Blog
        </a>
      </li>

      <li>
        <a href="/contact.html"
        {% if page.url == '/contact.html' %}
        class="selected"
        {% endif %}>Contact
        </a>
      </li>
    </ul>
  </nav>
  <h1 style="position: absolute; left: -9999px;">Functional Imperative</h1>
</header>
