<div id="page-url">{{ page.url[0..5] }}</div>
<header>
  <nav>
    <div class="nav-hover-container"></div>
    <div class="nav-logo-container">
      <a class="nav-logo-letter-first" href="/"></a>
      <a class="nav-logo-letter-second" href="/"></a>
    </div>
    <ul class="nav-menu">
      <li class="nav-menu-item">
        <a href="#" 
          data-sub-name="about"
          class="nav-menu-item-link has-nav-sub-menu
          {% if page.url contains 'about' %}
          selected
          {% endif %}">
          <span class="nav-menu-item-text">About</span><i class="fa fa-chevron-right"></i>
        </a>
        
        <ul class="nav-sub-menu">
          <li class="nav-sub-menu-item">
            <a href="/about-custom-software-solutions-development.html"
              class="nav-sub-menu-item-link
              {% if page.url == '/about-custom-software-solutions-development.html' %}
              selected
              {% endif %}">About</a>
          </li>
          <li class="nav-sub-menu-item">
            <a href="/about/custom-software-development-method.html"
              class="nav-sub-menu-item-link
              {% if page.url == '/about/custom-software-development-method.html' %}
              selected
              {% endif %}">Method
            </a>
          </li>
          <li class="nav-sub-menu-item">
            <a href="/about/our_work.html"
              class="nav-sub-menu-item-link
              {% if page.url == '/about/our_work.html' %}
              selected
              {% endif %}">Work
            </a>
          </li>
          <li class="nav-sub-menu-item">
            <a href="/about/team.html"
              class="nav-sub-menu-item-link
              {% if page.url == '/about/team.html' %}
              selected
              {% endif %}">Team
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-menu-item">
        <a href="/custom-software-solutions-services.html"
          class="nav-menu-item-link
          {% if page.url contains 'services' %}
          selected
          {% endif %}">
            Services          
        </a>
      </li>
      
      <li class="nav-menu-item">
        <a href="/custom-software-development-company-blog/"
          class="nav-menu-item-link
          {% if page.url contains 'blog' %}
          selected
          {% endif %}">
            Blog
        </a>
      </li>

      <li class="nav-menu-item">
        <a href="/contact-custom-software-solutions.html"
          class="nav-menu-item-link
          {% if page.url == '/contact-custom-software-solutions.html' %}
          selected
          {% endif %}">
            Contact
        </a>
      </li>
    </ul>
  </nav>
  <h1 style="position: absolute; left: -9999px;">Functional Imperative</h1>
</header>
