<div class="row">
  <div id="logo">
    <img class="f functional over" src="{% asset_path f_yellow_block.png %}">
    <img class="f functional under" src="{% asset_path f_yellow_block.png %}">
    <div class="f functional white"></div>

    <img class="u functional over" src="{% asset_path u_yellow_block.png %}">
    <img class="u functional under" src="{% asset_path u_yellow_block.png %}">
    <div class="u functional white"></div>

    <img class="i-2 imperative over" src="{% asset_path i_blue_block.png %}">
    <img class="i-2 imperative under" src="{% asset_path i_blue_block.png %}">
    <div class="i-2 imperative white"></div>

    <img class="m imperative over" src="{% asset_path m_blue_block.png %}">
    <img class="m imperative under" src="{% asset_path m_blue_block.png %}">
    <div class="m imperative white"></div>
  </div>
</div>

<!-- <div class="row">
  <div id="logo">
    <div class="f functional over">F</div>
    <div class="f functional under">F</div>
    <div class="u functional over">U</div>
    <div class="u functional under">U</div>
    <div class="n functional over">N</div>
    <div class="n functional under">N</div>
    <div class="c functional over">C</div>
    <div class="c functional under">C</div>
    <div class="t functional over">T</div>
    <div class="t functional under">T</div>
    <div class="i functional over">I</div>
    <div class="i functional under">I</div>
    <div class="o functional over">O</div>
    <div class="o functional under">O</div>
    <div class="n functional over">N</div>
    <div class="n functional under">N</div>
    <div class="a functional over">A</div>
    <div class="a functional under">A</div>
    <div class="l functional over">L</div>
    <div class="l functional under">L</div>
    <div class="i-2 imperative over">I</div>
    <div class="i-2 imperative under">I</div>
    <div class="m imperative over">M</div>
    <div class="m imperative under">M</div>
    <div class="p imperative over">P</div>
    <div class="p imperative under">P</div>
    <div class="e imperative over">E</div>
    <div class="e imperative under">E</div>
    <div class="r imperative over">R</div>
    <div class="r imperative under">R</div>
    <div class="a-2 imperative over">A</div>
    <div class="a-2 imperative under">A</div>
    <div class="t-2 imperative over">T</div>
    <div class="t-2 imperative under">T</div>
    <div class="i-3 imperative over">I</div>
    <div class="i-3 imperative under">I</div>
    <div class="v imperative over">V</div>
    <div class="v imperative under">V</div>
    <div class="e-2 imperative over">E</div>
    <div class="e-2 imperative under">E</div>
  </div>
</div> -->