<div class="row">
  <div id="logo">
    <div class="functional f">F</div>
    <div class="functional u">U</div>
    <div class="functional n">N</div>
    <div class="functional c">C</div>
    <div class="functional t">T</div>
    <div class="functional i">I</div>
    <div class="functional o">O</div>
    <div class="functional n-2">N</div>
    <div class="functional a">A</div>
    <div class="functional l">L</div>
    <div class="imperative i">I</div>
    <div class="imperative m">M</div>
    <div class="imperative p">P</div>
    <div class="imperative e">E</div>
    <div class="imperative r">R</div>
    <div class="imperative a">A</div>
    <div class="imperative t">T</div>
    <div class="imperative i-2">I</div>
    <div class="imperative v">V</div>
    <div class="imperative e-2">E</div>
  </div>
</div>