<div class="row">
  <div id="logo">
    <img class="f functional over" src="{% asset_path f_yellow_block.png %}">
    <img class="f functional under" src="{% asset_path f_yellow_block.png %}">
    <div class="f functional white"></div>

    <img class="u functional over" src="{% asset_path u_yellow_block.png %}">
    <img class="u functional under" src="{% asset_path u_yellow_block.png %}">
    <div class="u functional white"></div>

    <img class="i-2 imperative over" src="{% asset_path i_blue_block.png %}">
    <img class="i-2 imperative under" src="{% asset_path i_blue_block.png %}">
    <div class="i-2 imperative white"></div>

    <img class="m imperative over" src="{% asset_path m_blue_block.png %}">
    <img class="m imperative under" src="{% asset_path m_blue_block.png %}">
    <div class="m imperative white"></div>
  </div>
</div>