<!-- Begin MailChimp Signup Form -->
<div id="form">
  <form id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
    method="post" target="mail-list-response" novalidate
    action="//func-i.us5.list-manage.com/subscribe/post?u=fe8885fb61a05d1905a2bcb7f&amp;id=ddf9656707">
    <h3 class="mail-list-ask">
      {{ page.mail_ask | default: "Subscribe to our mailing list" }}
    </h3>

    <div class="text field">
      <label for="mce-EMAIL">Email:</label>
      <input type="email" name="EMAIL" value=""
        class="required" id="mce-EMAIL">
    </div>

    <div class="text field">
      <label for="mce-NAME">Name:</label>
      <input type="text" name="NAME" value=""
        id="mce-NAME">
    </div>

    <div id="mce-responses" class="clear">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
    </div>

    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true">
      <input type="text" name="b_fe8885fb61a05d1905a2bcb7f_ddf9656707" value=""
        tabindex="-1">
    </div>

    <div class="submit">
      <input type="submit" name="submit" value="Send"
        id="mc-embedded-subscribe">
    </div>
  </form>

  <!-- Response from submitting the form above -->
  <iframe name="mail-list-response" id="mail-list-resp">
  </iframe>
</div>

<!--End mc_embed_signup-->
