<div class="post-social-share">
  <!-- Facebook -->
  <div class="fi-share-button fb-share-button"
    data-href="{{ site.url }}{{ page.url }}"
    data-layout="button"></div>

  <!-- Google Plus -->
  <div class="fi-share-button">
    <div class="g-plus"
      data-action="share"
      data-annotation="none"></div>
  </div>

  <!-- LinkedIn -->
  <div class="fi-share-button">
    <script type="IN/Share"></script>
  </div>

  <!-- Twitter -->
  <div class="fi-share-button">
    <a class="twitter-share-button"
      data-size="default"></a>
  </div>

</div>
