#post {
  #form {
    width: 15em;
    padding: 1em;
    border: 1px solid $green;

    .mail-list-ask {
      margin-bottom: 0.5em;
      font-size: 1.2em;
    }

    label {
      display: inline-block;
      width: 3.5em;
      margin-top: 0.3em;
    }

    input {
      margin-top: 0.3em;
    }

    div.submit {
      float: none;
      height: 4.5em;
      padding-top: 0.5em;

      input {
        float: right;
        margin: 0;
      }
    }
  }
}
