#post {
  #form {
    padding-top: 2em;

    .mail-list-ask {
      margin-bottom: 0.5em;
      font-size: 1.2em;
    }

    label {
      display: inline-block;
      width: 3.5em;
      margin-top: 0.3em;
    }

    input {
      margin-top: 0.3em;
    }
  }
}
