.card {
  @include square-border-color();
  border: 1px solid; 
  transition: color 0.5s;
  position: relative;
  
  @media #{$medium-up} {
    font-size: 90%;
  }
  
  @media #{$large-up} {
    font-size: 80%;
  }
  
  & > * {
    position: relative;
    z-index: 1;
  }
  
  &-icon {
    height: 23%;
    margin-bottom: 10%;
    pointer-events: none;
  }
  
  &-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0;
    transition: opacity 0.5s;
  }
  
  &-arrow {
    color: white;
    position: absolute;
    width: 100%;
    max-height: 0;
    bottom: 0;
    left: 0;
    transition: max-height 0.5s;
    text-align: right;
    
    i { 
      padding: 15px;
      font-size: 1.2em;
    }
  }
  
  &-list {
    list-style: square;
    padding-left: 20px;
    line-height: 1.35;
  }
  
  
  &:hover {        
    .card-image {
      opacity: 0.4;
    }
    
    .card-arrow {
      max-height: 20%;
    }
  }

  &[data-color="yellow"] {
    .card-arrow {
      background-color: $yellow;
    }
  }
  
  &[data-color="blue"] {
    .card-arrow {
      background-color: $blue;
    }
  }
  
  &[data-color="orange"] {
    .card-arrow {
      background-color: $orange;
    }
  }
  
  &[data-color="teal"] {
    .card-arrow {
      background-color: $teal;
    }
  }
  
  .alternate-colors & {
    color: $dark-gray;
    
    &:hover {
      .card-arrow {
        max-height: 20%;
      }
    }
  }
  
  .card-arrow.down {
    text-align: center;
  }
}

.card-wrapper {
  @extend .columns;
  @extend .medium-6;
  @extend .large-4;
  
  padding: 15px;
  
  @media #{$medium-only} {
    &:last-child {
      display: inline-block;
      float: none;
    }
  }
}

.cards {
  @extend .row;
}
