html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height-small;
  padding: 30px 0 0;
  background-color: $dark-gray;
  border-top: solid 1px white;
  
  @media #{$medium-up} {
    height: $footer-height;
  }
  
  h3 {
    margin-bottom: 22px;
  }
  
  .footer-content {
    width: 1024px;
    max-width: 88%;
    margin: auto;
  }
  
  .footer-list-wrapper {
    @extend .columns;
    @extend .medium-3;
    @extend .large-2;
    margin-bottom: 30px;
    font-size: 80%;
    
    @media #{$medium-up} {
      font-size: 80%;
    }
  }
  
  .footer-list {    
    li {
      line-height: 1.6;
      color: #b3b3b3;
    }
    
    &.contact {
      color: #b3b3b3;
      a {
        line-height: 1.7;
      }
      
      p {
        margin-bottom: 0;
      }
    }
  }
  
  .footer-logo-wrapper {
    @extend .large-4;
    @extend .medium-12;
    @extend .columns;    
    
    margin-bottom: 20px;
    
    #footer-logo {
      width: 400px;
      @media #{$medium-up} {
        padding-right: 10%;
      }
    }
  }
}
