/*
 * Styles shared by the General Inquiries form on the Contact page
 * and the email subscription form on blog posts and other pages
 */

#form {
  h4, div.field {
    margin-bottom: 1em;
  }

  div.text {
    border-bottom: 1px solid white;

    input {
      border: none;
      outline: none;
      background: transparent;
      color: $blue;
    }
  }

  div.submit {
    input {
      color: $green;
      background-color: transparent;
      border: 1px solid $green;
      width: 4em;
      height: 4em;
      outline: none;
      border-radius: 0;
      padding: 0;

      &:hover,
      &:focus {
        color: $dark-gray;
        background-color: $green;
      }

      &:active {
        color: $green;
        background-color: transparent;
      }
    } // input
  } // div.submit
  
  .alternate-color-scheme-wrapper & {
    background: $orange;
    border: none;
    color: white;
    
    input {
      color: white;
    }
    
    div.submit {
      input {
        color: white;
        background-color: transparent;
        border: 1px solid white;
        width: 4em;
        height: 4em;
        outline: none;
        border-radius: 0;
        padding: 0;

        &:hover,
        &:focus {
          color: $orange;
          background-color: white;
        }

        &:active {
          color: $orange;
          background-color: white;
        }
      }
    }
    
    #mail-validate-error {
      display: none;
      margin-top: 0.8em;
      font-size: 0.9em;
      color: white;
    }

    #mail-subscribe-success {
      display: none;
      height: 12em;
      line-height: 1.3;
    }
  }
} // #form
