$letter-width: 54px;
$delay: .2s;

nav {  
  position: fixed;
  z-index: 3;
  top: 0;
  width: calc(100% - #{$letter-width});
  
  @media #{$large-up} {
    width: auto;
  }
  
  .selected {
    color: $green;
  }  
  
  &.hidden {
    
    @media #{$large-up} {
      .nav-menu {
        left: -100%;
        transition: left $delay;
      }
    }
  }
  
  .nav-menu {
    position: relative;
    display: flex;
    width: 100%;
    height: $letter-width;
    left: $letter-width;
    background: $dark-gray;
    border-bottom: solid 1px white;
    overflow: hidden;
    z-index: 0;
    
    transition: left $delay $delay,
    width $delay;
    
    @media #{$large-up} {
      display: inline-block;
      border-right: solid 1px white;
    }
  }
  
  .nav-hover-container {
    position: absolute;
    display: inline-block;
    top: 0%;
    width: calc(110% + #{$letter-width});
    height: 200%;
  }
}

header {
  position: relative;
  -webkit-user-select: none;
}