@mixin text-box($color) {
  @include border($color);
  
  padding: 1.5rem;

  a {
    color: $color;
  }

  &:hover {
    background-color: $color;

    a {
      color: $dark-gray;
    }
  }
}

#home {
  @extend .row;

  margin-top: 6em;
  
  .tester-yellow {
    @extend .small-6, .columns;
    
    @include text-box($yellow);
  }

  .tester-blue {
    @extend .small-6, .columns;

    @include text-box($blue);
  }
}