#logo {
  position: relative;

  div, img {
    display: inline-block;
    position: absolute;
    height: 3rem;
    width: 3rem;
    text-align: center;
    font-size: 2rem;
    left: 0;

    &.functional {

      &.over {
        opacity: .4;
      }
    }

    &.imperative {
      top: 2.5rem;

      &.over {
        opacity: .95;
      }
    }
  }

  .white {
    background-color: white;
  }

  .f {
    z-index: 30;
  }

  .f.under {
    z-index: 28;
  }

  .f.white {
    z-index: 26;
  }

  .u {
    z-index: 24;
  }

  .u.under {
    z-index: 22;
  }

  .u.white {
    z-index: 20;
  }

  .i-2 {
    z-index: 29;
  }

  .i-2.under {
    z-index: 27;
  }

  .i-2.white {
    z-index: 25;
  }

  .m {
    z-index: 23;
  }

  .m.under {
    z-index: 21;
  }

  .m.white {
    z-index: 19;
  }
}