.scene, .cubes-scene {
  @extend .main-content;
  padding: 0;
  position: relative;
}

.scene {
  @extend .main-content;
  padding: 4em 0;
  position: relative;
  
  @media #{$medium-up} {
    padding: 6em 0;
  }
  
  @media #{$medium-up} {
    padding: 9em 0;
  }
}

.scene-squares {
  @extend .columns;
  @extend .large-5;
  @extend .medium-5;
  
  @media #{$small-only} {
    margin-bottom: 2em;
  }
}

.scene-text {
  @extend .columns;
  @extend .large-7;
  @extend .medium-7;
  @extend .small-12;
}

.scene-title-square, .scene-graphic-square {
  @extend .columns;
  @extend .small-8;
  @extend .medium-7;
  mix-blend-mode: multiply;
}

.scene-title-square {  
  @media #{$small-up} {
    h1 {
      font-size: 1.6em;
    }
  }
  
  @media #{$medium-only} {
    h1 {
      font-size: 1.5em;
    }
  }
}

.scene-content {
  @extend .row;
  @extend .collapse;
  
  @media #{$medium-up} {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.cubes-scene {
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  transition: opacity 0.5s;
  opacity: 1;
  padding: 4em 0;
  
  &.alternate-colors {
    color: $dark-gray;
  }
  
  &-content {
    width: 100%;
  }
  
  &-arrow-wrapper {
    position: absolute;
    display: none;
    width: 100%;
    font-size: 26pt;
    text-align: center;
    
    &[data-direction="up"] {
      top: 20px;
    }
    
    &[data-direction="down"] {
      bottom: 20px;
    }
  }
  
  &-arrow {
    opacity: 0.5;
    transition: opacity 0.5s, color 0.5s, visibility 0.5s;
    
    &[data-color="white"] {
      color: white;
    }
    
    &[data-color="dark-gray"] {
      color: $dark-gray;
    }
    
    &[data-color="yellow"] {
      color: $yellow
    }
    
    &:hover {
      opacity: 1;
    }
    
    &.hidden {
      opacity: 0;
      visibility: hidden;
    }
    
    i {
      pointer-events: none;
    }
  }
  
  @media #{$large-up} {
    background: none;
    padding: 0;
    
    &.hidden {
      position: absolute;
      left: -100%;
    }
    
    &.fade-out {
      opacity: 0;
    }
        
    &-arrow-wrapper {
      display: inline-block;
    }
  }
}

.cubes-scene-wrapper {
  &-alternate-colors {       
  background-color: white;

    @media #{$large-up} {
      background: none;
    }
  }   
}
