/*
 * Styles for the social media share buttons on each blog post
 * Sticky on bottom
 */

.post-social-share {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  padding: 1.4rem;
  background-color: #2d2d2d;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: solid 1px white;

  .fi-share-button {
    height: 1.5rem;
    padding-right: 1rem;
    
    @media screen and (max-width: 640px) {
      padding-right: .5rem;
    }
    
    &:last-child {
      padding-right: 0;
    }
  }
}
