////////// colors //////////

$blue:      rgb(3,168,171);
$yellow:    rgb(255,189,27);
$green:     rgb(2,125,17);
$dark-gray: rgb(45,45,45);

////////// square sizes //////////
$small:  128px;
$medium: 256px;
$large:  512px;

////////// fonts //////////

@font-face {
  font-family: graphik;
  src: url('Graphik_Regular_Web.eot');
  src: local(graphik), url('Graphik_Regular_Web') format('opentype');
}

////////// global mixins //////////

@mixin background-image-gradient($color) {
  background-image: -webkit-linear-gradient($color, $color 50%, transparent 50%, transparent);
  background-image: -moz-linear-gradient($color, $color 50%, transparent 50%, transparent);
  background-image: -o-linear-gradient($color, $color 50%, transparent 50%, transparent);
  background-image: linear-gradient($color, $color 50%, transparent 50%, transparent);
}

@mixin background-size($width, $height) {
  -webkit-background-size: $width $height;
  -moz-background-size: $width $height;
  -o-background-size: $width $height;
  background-size: $width $height;
}

@mixin text-square($color) {
  padding: 1em;
  // transition: all .3s linear;
  // @include background-image-gradient($color);
  // @include background-size(100%, 210%);
  // background-position: 0 -105%;
  // background-repeat: repeat-x;

  a {
    color: $color;
  }

  &:hover {
    // background-position: 0 0;

    a {
      color: $dark-gray;
    }
  }
}

@mixin square-size($side-length) {
  width: $side-length;
  height: $side-length;
}

////////// defaults //////////

body {
  background-color: $dark-gray;
  color: white;
  font-family: graphik;
  font-size: 112.5%; // 1em = 18px
  line-height: 1.33;
}

html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p,
blockquote, pre, form, fieldset, table, th, td, canvas {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

#canvas {
    position:absolute;
    width:100%;
    height:100%;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

////////// classes //////////

.square {
  overflow: hidden;
  position: relative;

  // border-width: 1px;
  // border-style: solid;

  &#right {
    left: -100px;
  }

  &.small {
    @include square-size($small);
  }

  &.medium {
    @include square-size($medium);
  }

  &.large {
    @include square-size($large);
  }

  &[data-color="blue"] {
    // border-color: $blue;

    &[data-type="text"] {
      @include text-square($blue);
    }
  }

  &[data-color="yellow"] {
    // border-color: $yellow;

    &[data-type="text"] {
      @include text-square($yellow);
    }
  }
}