////////// colors //////////

$blue:      rgb(3,168,171);
$yellow:    rgb(255,189,27);
$green:     rgb(2,125,17);
$dark-gray: rgb(45,45,45);

////////// square sizes //////////
// $small:  128px;
// $medium: 256px;
// $large:  512px;

////////// fonts //////////

@font-face {
  font-family: graphik;
  src: url('Graphik_Regular_Web.eot');
  src: local(graphik), url('Graphik_Regular_Web') format('opentype');
}

////////// global mixins //////////

@mixin text-square($color) {
  padding: 1.4em;

  a {
    color: $color;
  }

  &:hover {
    a {
      color: $dark-gray;
    }
  }
}

@mixin square-size($side-length) {
  width: $side-length;
  height: $side-length;
}

////////// defaults //////////

html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p,
blockquote, pre, form, fieldset, table, th, td, canvas {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  background-color: $dark-gray;
  color: white;
  font-family: graphik;
  font-size: 112.5%; // 1em = 18px
  line-height: 1.33;
}

#canvas {
  position:absolute;
  width:100%;
  height:100%;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

////////// classes //////////

.square {
  overflow: hidden;
  position: relative;

  // &.small {
  //   @include square-size($small);
  // }

  // &.medium {
  //   @include square-size($medium);
  // }

  // &.large {
  //   @include square-size($large);
  // }

  &[data-color="blue"] {
    &[data-type="outlined"] {
      @include text-square($blue);
    }
  }

  &[data-color="yellow"] {
    &[data-type="outlined"] {
      @include text-square($yellow);
    }
  }
}