header {
  nav {
    @extend .row, .collapse;    
    ul {
      @extend .small-12, .columns;

      list-style: none;
      padding: 0;
      margin: 2rem 0;

      li {
        display: inline;
        padding: 0 .5em;
      }
    }
  }
}